%section[item]
  %dl.dl-horizontal
    - item.class.columns_hash.each do |name, attribute|
      - unless name[/id$|at$/]
        - value = item.attributes[name]
      - else if name[/(\w*)_id$/]
        - if item.respond_to? $1
          - value = item.send($1).name
      - if defined? value
        %dd!= respond_to?("#{attribute.type}_view") |
          ? send("#{attribute.type}_view", value, attribute) |
          : (value.blank? ? '&nbsp;' : value) |
      %dt= t ".#{name}", default: "#{name}".titleize
