%div.nested-group{id: nested.pluralize.dasherize}
  - unless f.blank?
    .panel.panel-default
      .panel-heading
        - if has_one
          %b= t ".#{nested}", default: "#{nested.titleize}"
        - else
          %b= t ".#{nested.pluralize}", default: "#{nested.pluralize.titleize}"
      - if has_one
        = render "view_#{nested}_fields", item: f, locals: {nested: nested, has_one: has_one}
      - else
        - f.each do |item|
          = render "view_#{nested}_fields", item: item, locals: {nested: nested, has_one: has_one}
        %hr
