%div.nested-group{id: nested.pluralize.dasherize}
  - unless f.blank?
    .panel
      .panel-heading
        - if has_one
          %b= t ".#{nested}"
        - else
          %b= t ".#{nested.pluralize}"
      - if has_one
        = render "view_#{nested}_fields", item: f
      - else
        - f.each do |item|
          = render "view_#{nested}_fields", item: item
        %hr
