= simple_form_for(@<%= singular_name %>, html: { class: 'form-horizontal' }) do |f|

  = f.error_notification

  %section[@<%= singular_name %>]
    .panel.panel-default
      .panel-heading
        %b= t '.<%= singular_name %>', default: '<%= title_name %>'
      .panel-body
<% belongs_to.each do |name, attribute|-%>
        - @<%= singular_name %>.build_<%= attribute.name %>
        = f.association :<%= attribute.name %>, custom_edit(@<%= singular_name %>, '<%= attribute.name %>')
<% end -%>
<% self_attributes.each do |name, attribute| -%>
        = f.input :<%= attribute.name %>, custom_edit(@<%= singular_name %>, '<%= attribute.name %>')
<% end -%>
      %br
<% references.each do |name, ref|-%>
        = render 'nests', f: f, nested: '<%= name %>', has_one: <%= ref.has_one? %>
<% end -%>

      .panel-footer
        .col-offset-3
          .actions
            = f.button :submit, disable_with: t('.disable_with', default: 'Please wait ...')
