= simple_form_for @<%= singular_table_name %>, wrapper: 'inline',  defaults: { input_html: { class: 'form-horizontal' } } do |f|

  = f.error_notification

  %section[@<%= singular_table_name %>]
    .panel
      .panel-heading
        %b <%= title_name %>
<% self_attributes.each do |name, attribute| -%>
      = f.input :<%= name %>, (respond_to?('<%= attribute.type %>_edit') ? send('<%= attribute.type %>_edit',
          @<%= singular_table_name %>.<%= name %>, @<%= singular_table_name %>.class.columns_hash['<%= name %>']) : {})
<% end -%>
      %br
<% for ref in references -%>
      = render 'nests', f: f, nested: '<%= ref.name %>', has_one: <%= ref.has_one?.to_s %>
<% end -%>

      .panel-footer
        .col-3 &nbsp;
        .col-offset-3
          .actions
            = f.button :submit, :disable_with => 'Please wait ...'
