.nested-group{id: nested.dasherize}
  .panel
    .panel-heading
      - if has_one
        %b= nested.titleize
      - else
        %b= nested.pluralize.titleize
    - if has_one
      = f.simple_fields_for nested.to_sym do |item|
        = render "#{nested}_fields", f: item
    - else
      = f.simple_fields_for nested.pluralize.to_sym do |item|
        = render "#{nested}_fields", f: item
    .panel-footer
      = link_to_add_association "Add #{nested.titleize}", f,
          nested.pluralize.to_sym, class: 'btn btn-default btn-mini'
