%div.nested-group{id: nested.pluralize.dasherize}
  - unless f.blank?
    .panel
      .panel-heading
      - if has_one
        %b= nested.titleize
        = render "view_#{nested}_fields", item: f
      - else
        %b= nested.pluralize.titleize
        - f.each do |item|
          = render "view_#{nested}_fields", item: item
        %hr
