.row
  .col-12
    .subnav
      %ul.nav.nav-pills
        %li= link_to t('.new_<%= title_name %>'), new_<%= singular_table_name %>_path
        %li.active= link_to t('.all_<%= plural_title_name %>'), <%= plural_table_name %>_path
        %li.disabled= link_to t('.edit_this_<%= title_name %>'), '#'
        %li.disabled= link_to t('.show_this_<%= title_name %>'), '#'

    %h1= t '.all_<%= plural_title_name %>'

    %table{class: 'table table-condensed table-striped'}
      %tr
<% for attribute in attributes -%>
        %th= t '.<%= attribute.name %>'
<% end -%>
        %th

      - @<%= plural_table_name %>.each do |<%= singular_name %>|
        %tr
<% for attribute in attributes -%>
          %td= <%= singular_name %>.<%= attribute.name %><%= attribute.reference? ? '.name' : '' %>
<% end -%>
          %td{align: 'right'}
            = link_to t('.show'), <%= singular_name %>, class: 'btn btn-primary btn-xs'
            = link_to t('.edit'), edit_<%= singular_table_name %>_path(<%= singular_name %>), class: 'btn btn-success btn-xs'
            = link_to t('.destroy'), <%= singular_name %>, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-xs'
    = paginate @<%= plural_table_name %>
%br
