.row
  .col-12
    = render 'sub_navigation', page: 'all'

    %h1= t('.all_<%= plural_name %>', default: '<%= plural_title_name %>')

    %table{class: 'table table-condensed table-striped'}
      %tr
<% for attribute in attributes -%>
        %th= t '.<%= attribute.name %>'
<% end -%>
        %th

      - @<%= plural_name %>.each do |<%= singular_name %>|
        %tr
<% for attribute in attributes -%>
          %td= <%= singular_name %>.<%= attribute.name %><%= attribute.reference? ? '.name' : '' %>
<% end -%>
          %td{align: 'right'}
            = link_to t('.show'), <%= singular_name %>, class: 'btn btn-primary btn-xs'
            = link_to t('.edit'), edit_<%= singular_table_name %>_path(<%= singular_name %>), class: 'btn btn-success btn-xs'
            = link_to t('.destroy'), <%= singular_name %>, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-xs'
    = paginate @<%= plural_name %>
%br
