- @<%= singular_name %>.parts.build
.row
  .col-10
    .subnav
      %ul.nav.nav-pills
        %li.active= link_to t('.new_<%= title_name %>'), new_<%= singular_table_name %>_path
        %li= link_to t('.all_<%= plural_title_name %>'), <%= table_name %>_path
        %li.disabled= link_to t('.edit_this_<%= title_name %>'), '#'
        %li.disabled= link_to t('.show_this_<%= title_name %>'), '#'

    %h1= t '.new_<%= title_name %>'

    = render 'form'

  = render 'sidebar_sections'
