.row
  .col-10
    .subnav
      %ul.nav.nav-pills
        %li= link_to 'New <%= title_name %>', new_<%= singular_table_name %>_path
        %li= link_to 'All <%= plural_title_name %>', <%= table_name %>_path
        %li= link_to 'Edit this <%= title_name %>', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
        %li.active= link_to 'Show this <%= title_name %>', @<%= singular_table_name %>

    %h1 Show <%= title_name %>

    - unless notice.blank?
      .alert.alert-success
        %button.close{title: 'Close notification', data: {dismiss: 'alert'}} ✖
        = notice

    %section[@<%= singular_table_name %>]
      .panel
        .panel-heading
          %b <%= title_name %>
        %dl.dl-horizontal
<% self_attributes.each do |name, attribute| -%>
          %dt <%= name.titleize %>
          - value = @<%= singular_table_name %>.<%= name %>
          %dd!= respond_to?('<%= attribute.type %>_view') ? send('<%= attribute.type %>_view', value,
            @<%= singular_table_name %>.class.columns_hash['<%= name %>']) : (value.blank? ? '&nbsp;' : value)
<% end -%>
<% for ref in references -%>
        = render 'view_nests', f: @<%= singular_table_name %>.<%= ref.pluralize %>, nested: '<%= ref %>'
<% end -%>

  .col-2
    .well.nav.sidebar-nav
      %h3 Sidebar
      %ul.nav.nav-list
        %li= link_to "<%= title_name %> #{@<%= singular_table_name %>.id}", "#<%= singular_table_name %>_#{@<%= singular_table_name %>.id}"
